/*---Fuentes----------------------------------------------------------*/
@font-face {
  font-family: "Aller_Rg";
  src: url('../fonts/Aller_Rg.eof');
  src: local('Aller_Rg'),
    url('../fonts/Aller_Rg.eot')
    format("embedded-opentype"),
    url('../fonts/Aller_Rg.ttf')
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Aller_Bd";
  src: url('../fonts/Aller_Bd.ttf');
  src: local('Aller_Bd'),
    url('../fonts/Aller_Bd.eot')
    format("embedded-opentype"),
    url('../fonts/Aller_Bd.ttf')
    format("truetype");
  font-weight: bold;
  font-style: normal;
}

/*
  So you like the style of impress.js demo?
  Or maybe you are just curious how it was done?

  You couldn't find a better place to find out!

  Welcome to the stylesheet impress.js demo presentation.

  Please remember that it is not meant to be a part of impress.js and is
  not required by impress.js.
  I expect that anyone creating a presentation for impress.js would create
  their own set of styles.

  But feel free to read through it and learn how to get the most of what
  impress.js provides.

  And let me be your guide.

  Shall we begin?
*/

/*
  Now here is when interesting things start to appear.

  We set up <body> styles with default font and nice gradient in the background.
  And yes, there is a lot of repetition there because of -prefixes but we don't
  want to leave anybody behind.
*/
body {
  font-family: 'Aller_Bd', sans-serif;
  min-height: 740px;

  background: rgb(215, 215, 215);
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(203, 203, 203)), to(rgb(190, 190, 190)));
  background: -webkit-radial-gradient(rgb(203, 203, 203), rgb(190, 190, 190));
  background:    -moz-radial-gradient(rgb(203, 203, 203), rgb(190, 190, 190));
  background:     -ms-radial-gradient(rgb(203, 203, 203), rgb(190, 190, 190));
  background:      -o-radial-gradient(rgb(203, 203, 203), rgb(190, 190, 190));
  background:         radial-gradient(rgb(203, 203, 203), rgb(190, 190, 190));
}

/*
  ... and give links a nice look.
 */
a {
  color: inherit;
  text-decoration: none;
  padding: 0 0.1em;
  background: rgba(255,255,255,0.5);
  text-shadow: -1px -1px 2px rgba(100,100,100,0.9);
  border-radius: 0.2em;

  -webkit-transition: 0.5s;
  -moz-transition:    0.5s;
  -ms-transition:     0.5s;
  -o-transition:      0.5s;
  transition:         0.5s;
}

a:hover,
a:focus {
  background: rgba(255,255,255,1);
  text-shadow: -1px -1px 2px rgba(100,100,100,0.5);
}

ul {
  text-align: left;
}

h1, h2, h3 {
  color: #bfd44a;
}
/*
  Because the main point behind the impress.js demo is to demo impress.js
  we display a fallback message for users with browsers that don't support
  all the features required by it.

  All of the content will be still fully accessible for them, but I want
  them to know that they are missing something - that's what the demo is
  about, isn't it?

  And then we hide the message, when support is detected in the browser.
*/

.fallback-message {
  font-family: sans-serif;
  line-height: 1.3;

  width: 780px;
  padding: 10px 10px 0;
  margin: 20px auto;

  border: 1px solid #E4C652;
  border-radius: 10px;
  background: #EEDC94;
}

.fallback-message p {
  margin-bottom: 10px;
}

.impress-supported .fallback-message {
  display: none;
}

.icon {
  width: 24px;
  height: 24px;
}

.content {
  vertical-align: middle;
}

img.ilus {
  width: 500px; /* you can use % */
  height: auto;
  border: 2px solid #ababab;
}

.colum {
  width: 49%;
}

.left {
  float: left;
}

.right {
  float: right;
  border-left: 2px solid #ababab;
}

/*
  Now let's style the presentation steps.

  We start with basics to make sure it displays correctly in everywhere ...
*/

.step {
  position: relative;
  width: 900px;
  padding: 40px;
  margin: 20px auto;

  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  -ms-box-sizing:     border-box;
  -o-box-sizing:      border-box;
  box-sizing:         border-box;

  font-family: 'Aller_Bd', georgia, serif;
  text-shadow: 0 2px 2px rgba(0, 0, 0, .1);
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -1px;

  text-align: center;
}

/*
  ... and we enhance the styles for impress.js.

  Basically we remove the margin and make inactive steps a little bit transparent.
*/
.impress-enabled .step {
  margin: 0;
  opacity: 0.3;

  -webkit-transition: opacity 1s;
  -moz-transition:    opacity 1s;
  -ms-transition:     opacity 1s;
  -o-transition:      opacity 1s;
  transition:         opacity 1s;
}

.impress-enabled .step.active { opacity: 1 }

.slide {
    display: block;

    width: 900px;
    height: 700px;
    padding: 40px 60px;

    color: #f9f9f9;
    background: #5f80a8;
    background: -moz-linear-gradient(top, #5f80a8 0%, #5f97c8 8%, #5078a9 56%, #486696 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5f80a8), color-stop(8%,#5f97c8), color-stop(56%,#5078a9), color-stop(100%,#486696));
    background: -webkit-linear-gradient(top, #5f80a8 0%,#5f97c8 8%,#5078a9 56%,#486696 100%);
    background: -o-linear-gradient(top, #5f80a8 0%,#5f97c8 8%,#5078a9 56%,#486696 100%);
    background: -ms-linear-gradient(top, #5f80a8 0%,#5f97c8 8%,#5078a9 56%,#486696 100%);
    background: linear-gradient(to bottom, #5f80a8 0%,#5f97c8 8%,#5078a9 56%,#486696 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f80a8', endColorstr='#486696',GradientType=0 );
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}

#cicles {
  text-align: center;
}

.lonely {
  line-height: 50px;
  font-size: 26px;
}

.background{
  background-color: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  padding: 10px;
}

#stories-back.active{
  opacity: 1;
}
#stories-back:not(.active){
  opacity: 0;
}

blockquote {
  //font-family: Georgia, serif;
  font-size: 26px;
  font-style: italic;
  margin: 0.25em 0;
  padding: 0.25em 40px;
  line-height: 1.45;
  position: relative;
  //color: #383838;
}

blockquote:before {
  display: block;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -20px;
  top: -20px;
  color: #7a7a7a;
}

blockquote cite {
  color: #bbbbbb;
  font-size: 14px;
  display: block;
  margin-top: 5px;
}

blockquote cite:before {
  content: "\2014 \2009";
}
